* {
  font-family: "Raleway", "monospace";
  margin: 0;
  box-sizing: border-box;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  /* background-color: rgb(50, 107, 55); */
  padding: 10px;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#navbar .link {
  padding: 25px;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);

  font-size: 1.25rem;
  font-weight: bold;
}

#navbar .link:hover {
  color: rgb(50, 107, 55);
  font-size: 1.4rem;
}

#links {
  margin: auto;
}

/* #main-image {
  width: 100%;
  display: flex;
} */

#logo-image {
  width: 50vw;
  display: block;
  margin: 0 auto;
}

#footer {
  width: 100vw;
  height: 5.5rem;
  margin: 50px auto 0px auto;
  text-align: center;
  padding: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: 2px dotted black;
}

#main-header,
h1,
h2 {
  text-align: center;
  padding-top: 3rem;
}

#main-page {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 95vw;
  margin: 2rem;
}

#photo-section-1,
#photo-section-2,
#photo-section-3 {
  width: 33vw;
  position: relative;
}

#photo-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#photo-section-1-about,
#photo-section-2-about,
#photo-section-3-about {
  display: flex;
  height: 100%;
}

#photo-1,
#photo-2,
#photo-3 {
  width: 50%;
  padding: 1rem;
}

#text-1,
#text-2,
#text-3 {
  width: 50%;
  display: flex;
}

#photo-section-4 {
  width: 75vw;
  position: relative;
  text-align: center;
  color: white;
  display: block;
  margin: 10px auto;
  -webkit-filter: grayscale(1);
  filter: grau;
}

.text-in-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bolder;
}

#photo-section-1-about > img,
#photo-section-2-about > img,
#photo-section-3-about > img {
  display: inline-block;
}
/* #photo-section-4 > img {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem;
  -webkit-filter: grayscale(0);
  filter: none;
} */

/* #photo-section-1-about:hover > img,
#photo-section-2-about:hover > img,
#photo-section-3-about:hover > img, */
/* #photo-section-4:hover > img {
  padding: 1rem;
  -webkit-filter: grayscale(1);
  filter: gray;
  opacity: 0.25;
} */
/* #photo-section-1-about:hover .overlay,
#photo-section-2-about:hover .overlay,
#photo-section-3-about:hover .overlay, */
/* #photo-section-4:hover .overlay {
  opacity: 1;
} */

#photo-section-1 > img,
#photo-section-2 > img,
#photo-section-3 > img {
  display: block;
  height: 75%;
  width: auto;
  -webkit-filter: grayscale(0);
  filter: none;
  margin: 20px auto;
  padding: 1rem;
}

#photo-section-1:hover > img,
#photo-section-2:hover > img,
#photo-section-3:hover > img {
  padding: 1rem;
  -webkit-filter: grayscale(1);
  filter: gray;
  opacity: 0.25;
}

#photo-section-1:hover .overlay,
#photo-section-2:hover .overlay,
#photo-section-3:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  height: 75%;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.text,
.text-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

/* #img-header {
  width: 100%;
  height: auto;
  opacity: 0.75;
} */

#title {
  background-image: url("../src/photo/IMG_2775.jpeg");
}

#section-1,
#section-2,
#section-3 {
  display: flex;
  height: 100vh;
}

#text-section-1,
#text-section-2,
#text-section-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.individual-about,
.individual-title,
.individual {
  padding-bottom: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

.individual-about,
.individual {
  font-size: 1.25rem;
}

.fb-icon,
.insta-icon {
  height: 5rem;
  color: black;
  padding: 1rem;
}

.fb-icon:hover,
.insta-icon:hover {
  color: rgb(50, 107, 55);
}
#footer {
  display: flex;
  justify-content: space-around;
}

#footer-text {
  align-self: center;
}

.main-blurb {
  text-align: center;
  margin: 10px auto;
  width: 60vw;
}

/* #main-section {
  display: grid;
  grid-template-columns: auto auto;
} */
